<h1>Works</h1>

<p>

<ul>
	<li>Title: <%= @title %></li>
	<li>Year: <%= @year %></li>
	<li>Rating: <%= @rating %></li>
	<li>Genre: <%= @genre %></li>
	<li>Directory: <%= @director %></li>
	<li>Actors:  <%= @actors %></li>
	<li>Plot: <%= @plot %></li>
</ul>

</p>



